@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../vendor/masmerise/livewire-toaster/resources/views/*.blade.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";




.selection-bg ::selection {
    background-color: #79ffe1;
}


.bg-green-alerta{
    background-color: #86B897;
}
.bg-merah-alerta{
    background-color: #792D20;
}
.bg-yellow-alerta{
    background-color: #C4C477;
}

.text-green-alerta{
    color: #86B897;
}
